<!-- <div class="container-fluid">
<div class="card mb-3" *ngIf="card">
    <div class=" d-flex justify-content-between">
      <div class="col-md-6">
        <img [src]="card.imgSrc" class="img-fluid rounded-start img-fluid rounded-start" alt="Card Image">
      </div>
      <div class="col-md-6">
        <div class="card-body">
            <h2>{{ card.title }}</h2>
            <p class="card-text">{{ card.text }}</p>
            <p class="card-text">{{ card.title }}</p>
            <p class="card-text">{{ card.category }}</p>
            <p class="card-text">{{ card.name }}</p>
            <p class="card-text">{{ card.tags }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
<div class="containe py-5 px-5"  *ngIf="card">
    <div class="d-flex justify-content-between">
        <div class="col-lg-6">
            <div>
            <img [src]="card.imgSrc" class="img-fluid rounded-start" alt="">
        </div>
        </div>
        <div class="row col-lg-6">
            <div>
            <h2>{{ card.title }}</h2>
            <p class="card-text">{{ card.text }}</p>
            <p class="card-text">{{ card.category }}</p>
            <p class="card-text">{{ card.information }}</p>
            <p class="card-text">{{ card.tags }}</p>
        </div>
    </div>
    </div>
</div>
</div>

<div class="container-fluid navbar-bg d-flex justify-content-center">
    <nav class="row navbar navbar-light d-flex justify-content-between container align-items-center">
      <div class="col-lg-4 col-md-12 col-sm-12  align-items-center">
        <ul class="list-unstyled">
          <li>
            <h2 class="navbar-brand pt-3 m-0">QUICK WRAP</h2>
          </li>
          <li>
            <p class="pt-0 mt-0">Shop</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control rounded-start" placeholder="Search" aria-label="Search"
            aria-describedby="basic-addon2">
          <span class="input-group-text bg-white" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </nav>
  </div>
  <div class="container mt-37">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item"><a href="#">Corporate</a></li>
        <li class="breadcrumb-item"><a href="#">Gifts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Self-Stirring Mug</li>
      </ol>
    </nav>
  </div>
  <div class="container product-detail mt-57">
    <div class="row d-flex flex-column flex-sm-row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>jjhkdfdf</h2>
        <h3 class="mb-13">ldldf</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start mt-7 mb-26">
        <i class="fa fa-star fa-2x me-2"></i>
        <i class="fa fa-star fa-2x me-2"></i>
        <i class="fa fa-star fa-2x me-2"></i>
        <i class="fa fa-star fa-2x me-2"></i>
        <i class="fa fa-star-half fa-2x me-2"></i>
        <p class="mb-0">Reviews</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row d-flex flex-column flex-sm-row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img  alt="product" class="img-fluid" />
        <div class="row mt-15">
          <div class="text-center">
            <div id="carouselExampleControls" class="carousel">
              <div class="carousel-inner">
                <div class="carousel-item"
                 >
                  <div class="crousel-card">
                    <div class="img-wrapper">
                      <img class="h-100" alt="product">
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mt-1 mt-lg-0 mt-md-0">
        <ul class="list-group pl-89">
          <li class="d-flex">
            <p class="fw-25 w-25">Brand</p>
            <p class="fw-75 w-75">Generic</p>
          </li>
          <li class="mt-1 d-flex justify-content-between">
            <p class="fw-25 w-25">Color</p>
            <p class="fw-75 w-75">White</p>
          </li>
          <li class="mt-1 d-flex justify-content-between">
            <p class="fw-25 w-25">Details</p>
            <p class="fw-75 w-75">Rotating, magnetic, leak-proof, self-stirring, 150</p>
          </li>
          <li class="mt-1 d-flex justify-content-between">
            <p class="fw-25 w-25">Package Details</p>
            <p class="fw-75 w-75">Rotating, magnetic, leak-proof, self-stirring, 150</p>
          </li>
        </ul>
        <div>
          <div class="text-center">
            <button type="button" class="btn-sm btn-primary mt-31 d-sm-block d-sm-center">
              BOOK NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid box mt-58">
    <div class="container pb-60">
      <h2 class="text-center text-dark pt-59">You May Also Like</h2>
      <div class="row mt-44">
        <div class="col-6 col-md-3 col-lg-3 mb-12" >
          <div class="card">
            <img class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title"></p>
              <p class="card-price"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
