<div>
  <div class="container mt-37">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item"><a href="#">Corporate</a></li>
        <li class="breadcrumb-item"><a href="#">Gifts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Self-Stirring Mug</li>
      </ol>
    </nav>
  </div>
  <div *ngIf="card">
    <div class="container product-detail mt-57">
      <div class="row d-flex flex-column flex-sm-row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2>{{ card.title }}</h2>
          <h3>{{ card.name }}</h3>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start mt-7 mb-26">
          <i class="fa fa-star fa-2x me-2"></i>
          <i class="fa fa-star fa-2x me-2"></i>
          <i class="fa fa-star fa-2x me-2"></i>
          <i class="fa fa-star fa-2x me-2"></i>
          <i class="fa fa-star-half fa-2x me-2"></i>
          <p class="mb-0">Reviews</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row row d-flex flex-column flex-sm-row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img [src]="card.imgSrc" [alt]="card.imgSrc" class="img-fluid product-image rounded-start">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-1 mt-lg-0 mt-md-0">
          <ul class="list-group pl-89">
            <li class="d-flex">
              <p class="fw-25 w-25">Brand</p>
              <p class="fw-75 w-75">Generic</p>
            </li>
            <li class="mt-1 d-flex justify-content-between">
              <p class="fw-25 w-25">Price</p>
              <p class="fw-75 w-75">{{ card.price }}</p>
            </li>
            <li class="mt-1 d-flex justify-content-between">
              <p class="fw-25 w-25">Details</p>
              <p class="fw-75 w-75">{{ card.text}}</p>
            </li>
            <li class="mt-1 d-flex justify-content-between">
              <p class="fw-25 w-25">Other Details</p>
              <p class="fw-75 w-75">{{ card.information }}</p>
            </li>
          </ul>
          <div>
            <div class="mt-3">
              <button type="button" class="me-2 btn btn-primary">
                BOOK NOW
              </button>
              <button type="button" class="btn  btn-primary">
                ADD TO CARD
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <div class="carousel-bg mt-5 mb-5">
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby2.webp" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
            <div class="col-md-1 ms-1">
              <img src="../../assets/baby5.jpeg" class=" img-carousel" alt="...">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-icon carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-icon  carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
