.product-image{
  height: 400px;
  width: 400px;
}
.fa{
    color: gold;
  }
  .btn {
    background-color: rgb(93, 72, 41);
  }
.carousel-bg{
  border-radius: 30px;
  background-color:  rgb(234, 237, 237);;
}

  .img-carousel {
    height: 80px;
    width: 80px;
    background-color:white;
    padding: 10px;
    border-radius: 50%;
  }
  .carousel-icon{
    color: rgb(16, 2, 2);
    background-color: black;
  }
