<nav Class="navbar navbar-expand-lg navbar-light bg-primary">
    <div Class="container">
      <a Class="navbar-brand" href="#">Navbar</a>
      <button Class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span Class="navbar-toggler-icon"></span>
      </button>
      <div Class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul Class="navbar-nav me-auto mb-2 mb-lg-0">
          <li Class="nav-item">
            <a Class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li Class="nav-item">
            <a Class="nav-link" href="#">Link</a>
          </li>
          <li Class="nav-item dropdown">
            <a Class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul Class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a Class="dropdown-item" href="#">Action</a></li>
              <li><a Class="dropdown-item" href="#">Another action</a></li>
              <li><a Class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li Class="nav-item">
            <a Class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form Class="d-flex">
          <input Class="serach-border bg-primary" placeholder="Search" />
        </form>
      </div>
    </div>
    </nav>
