<nav class="mt-5 navbar navbar-expand-lg">
  <div class="container d-flex justify-content-between">
    <div class='row'>
      <a class="navbar-brand logo-text py-4">EDU MEETING</a>
    </div>
    <div>
    </div>
    <div class='row'>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-lg-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MEETINGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">APPLY NOW</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle redHover" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Option 1</a></li>
              <li><a class="dropdown-item" href="#">Option 2</a></li>
              <li><a class="dropdown-item" href="#">Option 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</nav>