.card-bg{
    height: 100%;
    width: 100%;
    background-color: rgb(93, 72, 41);
}
.card{
    height: 100%;
}
.tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tag a{
    background-color: #c3c2c2;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
    
}
